body {
  background-color: rgb(61 , 59 , 59);
}

header {
  font-weight: 900;
}

#quadro-central {
  background-color: white;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0px;
  height: 300px;
  width: 700px;
  border-radius: 30px;
}

#titulo {
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: monospace;
}

#texto {
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 5px;
  font-size: 12px;
  font-family: monospace;
}

#imput {
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 5px;
}

#criar-tarefa {
  background-color: rgb(12 , 12 , 124);
  color: white;
  border-radius: 10px;
  padding: 7px 20px;
  border: none;
}

#texto-tarefa {
  outline-color: rgb(12 , 12 , 124);
}

#barra-botoes {
  text-align: center;
  padding-left: 0;
  height: 30px;
  width: 700px;
  margin-top: 130px;
}

#apaga-tudo {
  border: none;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 7px 20px;
}

